body{
     background: var(--cor-secundaria);
     font-family:'piloton','sans-serif'; ;
}

body::before{
    content: "";
    background-image: url('../images/background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
}

.cabecalho .titulo{
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.2rem;
    color: white;
}

